@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* index.css or App.css - Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* index.css */
body {
  background-color: #121212;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;  color: #fff;
}

code {
  font-family: 'Fira Code', monospace;
  background-color: #2a2a2a;
  padding: 2px 4px;
  border-radius: 4px;
}
